<!-- Main content starts -->

<div class="main-block">

  <!-- Page heading one starts -->
	
	<div class="page-heading-one">
		<h2>Trip in Raja Ampat</h2>
		<p class="bg-color">Discover</p>
	</div>
		
	<!-- Page heading one ends -->
	
	
	
	<div class="container">
		
  	<!-- Actual content for take action page -->
  	<div class="non-profit">
  		<div class="row">
  			<div class="col-md-8">
  				<div class="np-action-single">
  					<!-- heading -->
  					<h4><a href="#">Help to build a home for poor people</a></h4>
  					<p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nsed quia non numquam eius modion proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  					<!-- Image -->
  					<a href="#"><img class="img-responsive img-thumbnail" src="/assets/img/non-profit/big/1.jpg" alt="" ></a>
  					<!-- paragraph -->
  					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nsed quia non numquam eius modion proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
  					<!-- paragraph -->
  					<p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nsed quia non numquam eius modion proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  					<hr />
					
					
  				</div>
  			</div>
  			<div class="col-md-4">
  				<!-- Take action sidebar block -->
  				<div class="sidebar">
  					<!-- Categories Widget -->
  					<div class="s-widget">
  						<!-- Heading -->
  						<h5><i class="fa fa-folder color"></i>&nbsp; Upcoming Events</h5>
  						<!-- Widgets Content -->
  						<div class="widget-content categories">
  							<ul class="list-6">
  								<li><a href="#">Feed the hunger, <span class="color">New York</span></a></li>
  								<li><a href="#">Medical camp for dogs, <span class="color">London</span></a></li>
  								<li><a href="#">Women's job development, <span class="color">India</span></a></li>
  								<li><a href="#">Elders care camp, <span class="color">South Africa</span></a></li>
  								<li><a href="#">Cancer patients checkup, <span class="color">Nigeria</span></a></li>
  								<li><a href="#">Orphans child care, <span class="color">South Korea</span></a></li>
  							</ul>
  						</div>
  					</div>
					
  					<!-- Gallery Widget -->
  					<div class="s-widget">
  						<!-- Heading -->
  						<h5><i class="fa fa-photo color"></i>&nbsp; Events Gallery</h5>
  						<!-- Widgets Content -->
  						<div class="widget-content gallery">
  							<a href="/assets/img/non-profit/small/1.jpg" class="lightbox"><img src="/assets/img/non-profit/small/1.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  							<a href="/assets/img/non-profit/small/2.jpg" class="lightbox"><img src="/assets/img/non-profit/small/2.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  							<a href="/assets/img/non-profit/small/3.jpg" class="lightbox"><img src="/assets/img/non-profit/small/3.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  							<a href="/assets/img/non-profit/small/4.jpg" class="lightbox"><img src="/assets/img/non-profit/small/4.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  							<a href="/assets/img/non-profit/small/5.jpg" class="lightbox"><img src="/assets/img/non-profit/small/5.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  							<a href="/assets/img/non-profit/small/6.jpg" class="lightbox"><img src="/assets/img/non-profit/small/6.jpg" alt="" class="img-responsive img-thumbnail" /></a>
  						</div>
  					</div>	
					
  					<!-- Social media widget -->
  					<div class="s-widget">
  						<h5><i class="fa fa-share color"></i>&nbsp; Social Media</h5>
  						<!-- Widgets Content -->
  						<div class="widget-content brand-bg">
  							<!-- Social Media Icons -->
  							<a href="#" class="facebook"><i class="fa fa-facebook square-3 rounded-1"></i></a>
  							<a href="#" class="twitter"><i class="fa fa-twitter square-3 rounded-1"></i></a>
  							<a href="#" class="google-plus"><i class="fa fa-google-plus square-3 rounded-1"></i></a>
  							<a href="#" class="linkedin"><i class="fa fa-linkedin square-3 rounded-1"></i></a>
  							<a href="#" class="pinterest"><i class="fa fa-pinterest square-3 rounded-1"></i></a>
  							<a href="#" class="dropbox"><i class="fa fa-dropbox square-3 rounded-1"></i></a>
  							<a href="#" class="foursquare"><i class="fa fa-foursquare square-3 rounded-1"></i></a>
  							<a href="#" class="flickr"><i class="fa fa-flickr square-3 rounded-1"></i></a>
  							<a href="#" class="github"><i class="fa fa-github square-3 rounded-1"></i></a>
  							<a href="#" class="instagram"><i class="fa fa-instagram square-3 rounded-1"></i></a>
  							<a href="#" class="skype"><i class="fa fa-skype square-3 rounded-1"></i></a>
  							<a href="#" class="tumblr"><i class="fa fa-tumblr square-3 rounded-1"></i></a>
  							<a href="#" class="dribbble"><i class="fa fa-dribbble square-3 rounded-1"></i></a>
  							<a href="#" class="youtube"><i class="fa fa-youtube square-3 rounded-1"></i></a>
  						</div>
  					</div>
					

  				</div>
  			</div>
  		</div>
  	</div>
					
  </div>
	
	
	
</div>

<!-- Main content ends -->
