<!-- Outer Starts -->
<div class="outer">
	
	<!-- Header One Starts -->
	<div class="header-1">
		
		<div class="navi">	
			<div class="container">
				<div class="col-md-4 col-sm-4">
					<!-- Logo section -->
					<div class="logo">
						<h1><a href="#">Story<span style="color: #ffe800">Veller</span></a></h1>
					</div>
				</div>
				<div class="navy">
					<ul>
						<!-- Main menu -->
						<li><a href="#"><i class="fa fa-home"></i> <span class="text-menu">Home</span></a></li>
					
						<li><a href="#"><i class="fa fa-user"></i> <span class="text-menu">User</span></a></li>
						
						<li><a href="blog-one.html"><i class="fa fa-edit"></i> <span class="text-menu">Blog</span></a></li>
					</ul>
				</div>

				<form role="form" class="search-top">
					<!-- Input Group -->
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Type Something">
						<span class="input-group-btn">
							<button class="btn btn-color" type="button">Find</button>
						</span>
					</div>
				</form>
			</div>
		</div>

		<div class="header-search">

		</div>
		
		<!-- Navigation ends -->
		
	</div>

	<!-- Header one ends -->
	
	<br />
	
	<!-- Main content starts -->

	<div class="main-block">
	
		<div class="magazine">
				
			<div class="container">
			
				
				<div class="row">
				
					<div class="col-md-12">
					
						<%= render "pages/widget/slide_carrousel" %>
					  <hr style="border-bottom: 1px dashed #ABABAB;"/>
						
						
						<div class="row">
						  <div class="col-md-12 col-sm-12">
						    <%= render "pages/widget/top_rated" %>
						  </div>
						</div>
						
						<hr style="border-bottom: 1px dashed #ABABAB;">
						
						<div class="row">
							
							<div class="col-md-6 col-sm-6">
							
								<!-- Heading -->
								<h4 class="mag-head"><i class="fa fa-cloud color"></i> Recent News</h4>
								
								<!-- Magazine item one starts -->
								<div class="magazine-item mag-1">
									<!-- Image -->
									<a href="assets/img/magazine/small/4.jpg" class="lightbox"><img src="assets/img/magazine/small/4.jpg" alt="" class="img-responsive" /></a>
									<!-- Heading -->
									<h4><a href="#">Nemo Enim Ipsam Voluptatem Quuia</a></h4>
									<!-- Meta -->
									<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
									<!-- Para -->
									<p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. </p>
									
								  <hr style="border-bottom: 1px dashed #ABABAB;"/>
								</div>
								<!-- Magazine item one ends -->
								
								<!-- Magazine list -->
								<div class="magazine-list">
									<ul class="list-unstyled">
										<!-- List item starts -->
										<li>
											<a href="assets/img/gallery/small/5.jpg" class="lightbox"><img src="assets/img/gallery/small/5.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Nemo enim ipsam voluptatem quia quia neque porro</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										<!-- List item ends -->
										<li>
											<a href="assets/img/gallery/small/6.jpg" class="lightbox"><img src="assets/img/gallery/small/6.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										<li>
											<a href="assets/img/gallery/small/7.jpg" class="lightbox"><img src="assets/img/gallery/small/7.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Voluptates repudiandae sint et molestiae non recusand</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										<li>
											<a href="assets/img/gallery/small/8.jpg" class="lightbox"><img src="assets/img/gallery/small/8.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Neque porro quisquam estui  ipsum quia dolor sit</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
									</ul>
								</div>
								
							
							</div>
							
							<div class="col-md-6 col-sm-6">
								
								<!-- Heading -->
								<h4 class="mag-head"><i class="fa fa-desktop color"></i> Top News</h4>
								
								<!-- Magazine item one starts -->
								<div class="magazine-item mag-1">
									<!-- Image -->
									<a href="assets/img/magazine/small/2.jpg" class="lightbox"><img src="assets/img/magazine/small/2.jpg" alt="" class="img-responsive" /></a>
									<!-- Heading -->
									<h4><a href="#">Amazing Theme Ever In The Internet</a></h4>
									<!-- Meta -->
									<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
									<!-- Para -->
									<p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. </p>
									
									<hr style="border-bottom: 1px dashed #ABABAB;"/>
								</div>
								
								
								<!-- Magazine list -->
								<div class="magazine-list">
									<ul class="list-unstyled">
										<!-- List item starts -->
										<li>
											<!-- Heading -->
											<h5><a href="#">Nemo enim ipsam voluptatem quia quia neque  repudiandae sint et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										<!-- List item ends -->
										<li>
											<!-- Heading -->
											<h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum Voluptates et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										<li>
											<!-- Heading -->
											<h5><a href="#">Voluptates repudiandae sint et molestiae non recusand Voluptates et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										<li>
											<!-- Heading -->
											<h5><a href="#">Neque porro quisquam estui  ipsum quia dolor sit Voluptates repudiandae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
									</ul>
								</div>
								
								
							</div>
							
						</div>
						
						
						<%#= render "pages/widget/top_rated" %>
						<br/>
					</div>
					
					  <%#= render "pages/widget/footer.html" %>
				</div>
				
			</div>
		</div>
		
	</div>
	
	<!-- Main content ends -->
	
	<footer>
		<!-- Container -->
		<div class="container">
			<!-- Footer Content -->
				<!-- Paragraph -->
				<p class="pull-left">Copyright &copy; 2015 - <a href="#">StoryVeller</a></p>
				<ul class="list-inline pull-right" style="width: 50%;">
					<div class="brand-bg" style="display: inline-block;">
						<!-- Social Media Icons -->
						<a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
						<a href="#" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
						<a href="#" class="pinterest"><i class="fa fa-pinterest circle-3"></i></a>
					</div>
					<div class="subscribe-box" style="display: inline-block; width: 40%; float: right;">
						<!-- Form -->
						<form role="form">
							<!-- Input Group -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter Email Id">
								<span class="input-group-btn">
									<button class="btn btn-color" type="button">Subscribe</button>
								</span>
							</div>
						</form>
					</div>
				</ul>
				<!-- Clearfix -->
				<div class="clearfix"></div>
		</div>
	</footer>
	
	<!-- Footer Ends -->

</div>

<!-- Outer Ends -->		

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>