
	
	<!-- Main content starts -->

	<div class="main-block">
	
		<div class="magazine">
				
			<div class="container">
			
				
				<div class="row">
				
					<div class="col-md-12">
					
						<%= render "pages/widget/slide_carrousel" %>
					  <hr style="border-bottom: 1px dashed #ABABAB;"/>
						
						
						<div class="row">
						  <div class="col-md-12 col-sm-12">
						    <%= render "pages/widget/top_rated" %>
						  </div>
						</div>
						
						<hr style="border-bottom: 1px dashed #ABABAB;">
						
						<div class="row">
							
							<div class="col-md-6 col-sm-6">
							
								<!-- Heading -->
								<h4 class="mag-head"><i class="fa fa-cloud color"></i> Recent News</h4>
								
								<!-- Magazine item one starts -->
								<div class="magazine-item mag-1">
									<!-- Image -->
									<a href="assets/img/magazine/small/4.jpg" class="lightbox"><img src="assets/img/magazine/small/4.jpg" alt="" class="img-responsive" /></a>
									<!-- Heading -->
									<h4><a href="#">Nemo Enim Ipsam Voluptatem Quuia</a></h4>
									<!-- Meta -->
									<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
									<!-- Para -->
									<p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. </p>
									
								  <hr style="border-bottom: 1px dashed #ABABAB;"/>
								</div>
								<!-- Magazine item one ends -->
								
								<!-- Magazine list -->
								<div class="magazine-list">
									<ul class="list-unstyled">
										<!-- List item starts -->
										<li>
											<a href="assets/img/gallery/small/5.jpg" class="lightbox"><img src="assets/img/gallery/small/5.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Nemo enim ipsam voluptatem quia quia neque porro</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										<!-- List item ends -->
										<li>
											<!-- Heading -->
											<h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum Voluptates et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										
										
										<li>
											<!-- Heading -->
											<h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum Voluptates et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										
										
										<li>
											<a href="assets/img/gallery/small/7.jpg" class="lightbox"><img src="assets/img/gallery/small/7.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Voluptates repudiandae sint et molestiae non recusand</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										<li>
											<a href="assets/img/gallery/small/8.jpg" class="lightbox"><img src="assets/img/gallery/small/8.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Neque porro quisquam estui  ipsum quia dolor sit</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
									</ul>
								</div>
								
							
							</div>
							
							<div class="col-md-6 col-sm-6">
								
								<!-- Heading -->
								<h4 class="mag-head"><i class="fa fa-desktop color"></i> Top News</h4>
								
								<!-- Magazine item one starts -->
								<div class="magazine-item mag-1">
									<!-- Image -->
									<a href="assets/img/magazine/small/2.jpg" class="lightbox"><img src="assets/img/magazine/small/2.jpg" alt="" class="img-responsive" /></a>
									<!-- Heading -->
									<h4><a href="#">Amazing Theme Ever In The Internet</a></h4>
									<!-- Meta -->
									<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
									<!-- Para -->
									<p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet consectetur. </p>
									
									<hr style="border-bottom: 1px dashed #ABABAB;"/>
								</div>
								
								
								<!-- Magazine list -->
								<div class="magazine-list">
									<ul class="list-unstyled">
										<!-- List item starts -->
										<li>
											<!-- Heading -->
											<h5><a href="#">Nemo enim ipsam voluptatem quia quia neque  repudiandae sint et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										<!-- List item ends -->
										<li>
											<a href="assets/img/gallery/small/6.jpg" class="lightbox"><img src="assets/img/gallery/small/6.jpg" class="img-responsive" /></a>
											<div class="m-list-content">
												<!-- Heading -->
												<h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum</a></h5>
												<!-- Meta -->
												<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
											</div>
										</li>
										
										<li>
											<!-- Heading -->
											<h5><a href="#">Voluptates repudiandae sint et molestiae non recusand Voluptates et molestiae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
										<li>
											<!-- Heading -->
											<h5><a href="#">Neque porro quisquam estui  ipsum quia dolor sit Voluptates repudiandae non recusand</a></h5>
											<!-- Meta -->
											<div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5 Comments</div>
										</li>
									</ul>
								</div>
								
								
							</div>
							
						</div>
						
						
						<%#= render "pages/widget/top_rated" %>
						<br/>
					</div>
					
					  <%#= render "pages/widget/footer.html" %>
				</div>
				
			</div>
		</div>
		
	</div>
	
	<!-- Main content ends -->
	