<div class="row">
	<div class="col-md-4 col-sm-4">
		<!-- Logo section -->
		<div class="logo" style="padding-top: 20px;">
			<span style="font-size: 52px; padding: 20px;"><a href="#">Story<span style="color: #ffe800">Veller</span></a></span>
		</div>
	</div>
	<!--
	<div class="col-md-8 col-sm-8">
		<div class="navy ">
			<ul>
			
				<li><a href="#"><i class="fa fa-home"></i> <span class="text-menu">Home</span></a></li>
	
				<li><a href="#"><i class="fa fa-user"></i> <span class="text-menu">User</span></a></li>
		
				<li><a href="blog-one.html"><i class="fa fa-edit"></i> <span class="text-menu">Blog</span></a></li>
			</ul>
		</div>
	</div>

  
	<form role="form" class="search-top">
		
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Type Something">
			<span class="input-group-btn">
				<button class="btn btn-color" type="button">Find</button>
			</span>
		</div>
	</form>
	
	-->
</div>