<!-- Outer Starts -->
<div class="outer">
	
	<!-- Header One Starts -->
	<div class="header-1">
		
		<div class="navi">	
			<div class="container">
			  <div class="row">
			    <div class="col-md-7 logo">
			      <%= 
			        link_to root_path do 
			          image_tag "img/logo/logo-storyveller.png" 
		          end
			      %>
			    </div>
			    <div class="col-md-4">
			      <span class="brand"> * Travelling journal for travellers</span>
			    </div>
			  </div>
			  
			  <div class="row padding-top-5">
			    <div class="col-md-8">
			      
			      <%= render "layouts/nav/mega_menu"%>
            
			    </div>
			    <div class="col-md-4">
			      <div class="search pull-right">



              <%= form_tag(article_search_path, id: "custom-search-form", class: "form-search form-horizontal" ) do %>  
                  <div class="input-append span12">
                      <input type="text" class="search-query mac-style" name="q" placeholder="Search">
                      <button type="submit" class="btn"><i class="icon-search"></i></button>
                  </div>
              <% end %>

            </div>
			    </div>
			    
			  </div>
			</div>
		</div>

		<div class="header-search">

		</div>
		
		<!-- Navigation ends -->
		
	</div>

	<!-- Header one ends -->