<!-- Outer Starts -->
<div class="outer">
	
	<!-- Header One Starts -->
	<div class="header-1" style="border-bottom: 4px solid #E0E0E0;">
		
		<div class="navi" style="height: 140px; background: #F0F0F0; padding: 20px;">	
			<div class="container">
			  <%#= render "layouts/header/content"%>
			  <div class="row">
			    <div class="col-md-7">
			      <%= image_tag "img/logo/logo-storyveller.png" %>
			    </div>
			    <div class="col-md-4">
			      <span class="brand" style="color: #888; font-size: 12; font-style: italic;"> * Travelling journal for travellers</span>
			    </div>
			  </div>
			  
			  <div class="row padding-top-5">
			    <div class="col-md-12">
			      
			      <%= render "layouts/nav/mega_menu"%>
			            
            
			    </div>
			    
			    
			    <!--
			    <div class="col-md-4">
			      
			      <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query mac-style" placeholder="Search">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>
          	
			    </div>
		      --> 
			  </div>
			</div>
		</div>

		<div class="header-search">

		</div>
		
		<!-- Navigation ends -->
		
	</div>

	<!-- Header one ends -->
	
	<br />