<!-- Outer Starts -->
<div class="outer">
	
	<!-- Header One Starts -->
	<div class="header-1">
		
		<div class="navi">	
			<div class="container">
			  <div class="row">
			    <div class="col-md-7 logo">
			      <%= 
			        link_to root_path do 
			          image_tag "img/logo/logo-storyveller.png" 
		          end
			      %>
			    </div>
			    <div class="col-md-4">
			      <span class="brand"> * Travelling journal for travellers</span>
			    </div>
			  </div>
			  
			  <div class="row padding-top-5">
			    <div class="col-md-12">
			      
			      <%= render "layouts/nav/mega_menu"%>
            
			    </div>
			    
			  </div>
			</div>
		</div>

		<div class="header-search">

		</div>
		
		<!-- Navigation ends -->
		
	</div>

	<!-- Header one ends -->