<div id="mosaic">  
<!--  <div class="box size94">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
</div>
<div class="box size54">
  <a href="/assets/img/magazine/small/4.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
</div>

<div class="box size63">
  <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
</div>

<div class="box size42">
  <a href="/assets/img/magazine/small/4.jpg" class="lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
</div>
-->

  <div class="box size96 module">
    <a href="/assets/img/gallery/small/5.jpg" class="lightbox caption">
      <img src="/assets/img/gallery/small/5.jpg" alt=""/>  
      <h1>Skywalker</h1>
    </a>
    

  </div>
  
  <div class="box size53 module">
    
    <a href="/assets/img/gallery/small/5.jpg" class="lightbox caption">
      <img src="/assets/img/magazine/small/4.jpg" alt="" />
      <h1>Java</h1>
    </a>
    
  </div>
  <div class="box size63 module">
    <a href="/assets/img/gallery/small/5.jpg" class="lightbox">
      <img src="/assets/img/magazine/small/4.jpg" alt="" />
      <h1>Opera Van Java</h1>
    </a>
  </div>
  <div class="box size83 module">
    <a href="/assets/img/gallery/small/5.jpg" class="lightbox">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg" alt="" />
      <h1>Travelling Around</h1>
    </a>
  </div>
  
  <div class="box size33 module">
  <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  
  <div class="box size32 module">
        <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size32 module">
  <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  <div class="box size32 module">
        <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size32 module">
  <a href="/assets/img/gallery/small/5.jpg" class="lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  

  
</div>
