<div id="mosaic">  
<!--  <div class="box size94">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
</div>
<div class="box size54">
  <a href="/assets/img/magazine/small/4.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
</div>

<div class="box size63">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
</div>

<div class="box size42">
  <a href="/assets/img/magazine/small/4.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
</div>
-->

  <div class="box size96">
    <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox caption">
      <img src="/assets/img/gallery/small/5.jpg" alt=""/>     
    </a>
    

  </div>
  
  <div class="box size53">
    
    <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox caption">
      <img src="/assets/img/magazine/small/4.jpg" alt="" />
    </a>
    
  </div>
  <div class="box size63">
        <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size83">
    <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  
  <div class="box size33">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  
  <div class="box size32">
        <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size32">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  <div class="box size32">
        <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size32">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>
  
  <div class="box size32">
        <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/magazine/small/4.jpg" alt="" /></a>
  </div>
  <div class="box size32">
  <a href="/assets/img/gallery/small/5.jpg" class="hg lightbox"><img src="/assets/img/gallery/small/5.jpg" alt="" /></a>
  </div>

  
</div>
