<!-- Tag Widget -->
<div class="s-widget">
	<h5><i class="fa fa-tags color"></i> Tags</h5>
	<!-- Widgets Content -->
	<div class="widget-content tags">
		<a href="#" class="label">web</a> 
		<a href="#" class="label">wordpress</a> 
		<a href="#" class="label">php</a> 
		<a href="#" class="label">jquery</a> 
		<a href="#" class="label">java</a> 
		<a href="#" class="label">photoshop</a> 
		<a href="#" class="label">windows</a> 
		<a href="#" class="label">android</a> 
		<a href="#" class="label">ios</a> 
		<a href="#" class="label">chrome</a> 
		<a href="#" class="label">development</a> 
		<a href="#" class="label">plugin</a> 
		<a href="#" class="label">personal</a> 
		<a href="#" class="label">general</a> 
	</div>
</div>