<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Magazine - Brave</title>
	<!-- Description, Keywords and Author -->
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your,Keywords">
	<meta name="author" content="ResponsiveWebInc">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Styles -->
	<!-- Bootstrap CSS -->
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/bootstrap.icon-large.min.css" rel="stylesheet">
	<!-- Font awesome CSS -->
	<link href="/assets/font-awesome.min.css" rel="stylesheet">
	<!-- Magnific Popup -->
	<link href="/assets/magnific-popup.css" rel="stylesheet">
	<!-- Owl carousel -->
	<link href="/assets/owl.carousel.css" rel="stylesheet">
	
	<!-- CSS for this page -->
	
	<!-- Base style -->
	<link href="/assets/style.css" rel="stylesheet">
	<!-- Skin CSS -->
	<link href="/assets/skin-green.css" rel="stylesheet" id="color_theme">
	
	<!-- Custom CSS. Type your CSS code in custom.css file -->
	<link href="/assets/custom.css" rel="stylesheet">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
	
	
	<!-- Javascript files -->
  <!-- jQuery -->
  <script src="/assets/jquery.js"></script>
  <!-- Bootstrap JS -->
  <script src="/assets/bootstrap.min.js"></script>
  <!-- Placeholders JS -->
  <script src="/assets/placeholders.js"></script>
  <!-- Magnific Popup -->
  <script src="/assets/jquery.magnific-popup.min.js"></script>
  <!-- Owl carousel -->
  <script src="/assets/owl.carousel.min.js"></script>
  <!-- Respond JS for IE8 -->
  <script src="/assets/respond.min.js"></script>
  
  
  <!-- Grid Mosaic JS -->
  <script src="/assets/jquery.nested.js"></script>
  

  <!-- HTML5 Support for IE -->
  <script src="/assets/html5shiv.js"></script>
  <!-- Main JS -->
  <script src="/assets/main.js"></script>

  <!-- Javascript for this page -->

  <!-- Custom JS. Type your JS code in custom.js file -->
  <script src="/assets/custom.js"></script>
</head>



<body>
  <%= render "layouts/header/default_header" %>

  <%= yield %>

  <%= render "layouts/footer/default_footer" %>
</body>
</html>